.landing-bg {
    width: 100%;
    height: 100%;
}

.landing-1st-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 20px 0 0px;

}

.landing-1st-bg h4 {
    overflow: hidden;
    letter-spacing: 0.1;

}

.landing-1st-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-2nd-main {
    position: relative;
    z-index: 6;
}

.landing-2nd-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.landing-intro-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.landing-2nd-txt {
    display: flex;
    margin: 0 5% 5% 5%;
}

.landing-2nd-txt p {
    background-color: white;
    background-image: linear-gradient(135deg, #fff 0%, #eceeb4 90%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 3px 3px 2px rgb(147, 147, 147, 0.3);
}

.landing-2nd-p-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.landing-2nd-p-title svg {
    margin-right: 10px;
}

.landing-2nd-txt h5 {
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
}

.landing-2nd-txt ul li {
    text-align: start;
}

.landing-pr-msg-icon {

    padding: 0 5px;
}

.landing-2nd-bg {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 160px;
    background-color: #e2ffe2;
    background-image: linear-gradient(180deg,#fff 0%, #e2ffe2 8%, #e2ffe2 33%, #ffffff 90%);
}

.landing-2nd-bg h4 {
    position: relative;
    text-align: start;
    width: 45%;
    line-height: 1.2em;
    padding: 0 20px;
    font-weight: 300;
    z-index: 2;
}

.landing-bubble {
    width: 40%;
    position: absolute;
    left: 0;
    top: 20px;
    transform: rotate(-30deg);
    z-index: 1;
}

.landing-bubble-5 {
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotate(-30deg);
    z-index: 1;
}

.landing-bubble-7 {
    width: 35%;
    position: absolute;
    left: -30px;
    top: 0px;
    transform: rotate(-30deg);
    z-index: 1;
}

.chatgpt-logo {
    height: 30px;
    padding: 0 10px;
}

.landing-pr-icon {
    fill: #333;
}

.landing-pr-icon g rect {
    fill: none;
}

@media screen and (max-width: 750px) {
    .landing-bubble-7 {
        top: 70px;
    }
    .landing-2nd-txt{
        margin-bottom: 50px;
    }
}