/*-Index-*\
---ALL
---HEADER
---LANDING PAGE
---LOGIN
---PROJECT
---ADD PROJECT
---AI

*/

/*---*\
  ALL
\*---*/

body{
    text-align: center;
    margin: 0;
    height: 100vh;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}
*{
    box-sizing: border-box;
}
.dec-txt{
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
}
h4{
    font-size: 36px;
    font-weight: 100;
    line-height: 1;
    margin: 0;
}
.mark-txt{
    font-size: small;
    line-height: 0px;
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: #333;
}
.logo-md{
    width: 5rem;
    height: auto;
}

/* BUTTON */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #656D51;
    font-size: 24px;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover{
    box-shadow:none;
    transform: translateY(2px);
}

.btn-long{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 24px;
    font-size: 22px;
    margin: 20px 0;
    transition: 0.5s;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.btn-long:active, .btn-long:hover{
    opacity: 80%;
    box-shadow: none;
}
#btn-sp-color{
    background-color: #E4FF3F;
}
#btn-sp-color:active{
    background-color: #cfed07;

}
/* INPUT */
input:focus{
    outline:none;
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.1);
}
.inputbar-long{
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    font-size:20px;
    box-shadow:0px 1px 5px rgba(0, 0, 0, 0.1);

}


/*------*\
  HEADER
\*------*/
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: mixed;
    top: 0;
}

.nav-logo{
    width: 330px;
    height: 66px;
}
.search{
    position: relative;
}
.search img{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 20px;
    top:20%
}
.search-bar{
    background-color: #eee;
    font-size: 22px;
    
    width: 200px;
    height: 56px;
    border-radius: 28px;
    border: none;
    padding-left: 65px;
}
.header-left{
    display: inline-block;
}
.header-right{
    display: flex;
    align-content: center;
}
.header-right nav{
    display: inline-flex;
}
.menu {
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.btn-login{
    background-color: #E4FF3F;
    color: #333;
    margin-right:1rem;
}
/*Login Navbar*/
.nav-login{
    display: flex;
    align-items: center;
}
.btn-project{
    background-color: #DE5CFF;
    color: white;
    margin-right:1rem;
}

.nav-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
    color: #333;
    text-decoration:underline;
    font-size: 22px;
}
.nav-btn:hover,
.nav-btn:active{
    color: #DE5CFF;
}
.nav-logo-btn{
    width: 32px;
    height: auto;
}
.nav-logo-sm{
    display: none;
}
/*--------*\ 
LANDING PAGE
\*--------*/
.landing-bg-txt{
    font-weight: 400;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    font-size: 170px;
}

.logo{
    position: fixed;
    width:10rem;
    right: 0;
    bottom: 0;
    animation: shimmy 1.5s infinite;
    animation-direction: alternate;
}
@keyframes shimmy {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(0,10px);
    }
  }
.landing-bg-txt-1{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: -1;
}
.landing-bg-txt-2{
    position: absolute;
    left: -35px;
    top: 65px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: -1;
}
.landing-main{
    margin-top: 103px;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}
.landing-identity{
    width: 900px;
    height: 330px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 240px;
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 1%, rgba(255,255,255,0) 20%);
    overflow: hidden;
}

.landing-identity img{
    margin: 10px 10px 0 10px;
    width: 300px;
    height: 300px;
    transition: 1s;
}
.landing-identity img:hover{
    width: 350px;
    height: 350px;
}
.id-container{
    position: relative;
}
.id-top-txt{
    margin: 1rem 0 10px 100px;
    margin-left: 100px;
}
.id-txt h3{
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    word-spacing: 3px;
    font-size: 30px;
    line-height: 0;
    font-weight: 100;
}

.main{
    background-color: whitesmoke;
    height: 300px;
    line-height:300px;
    text-align: center;
    font-size: 30px;
}
/*----------------*\
  LOGIN & REGISTER
\*----------------*/
.login, .register{
    width: 100vw;
    height:100%;
    padding: 30px 0;
    background: #eee;
    display: flex;
    justify-content: center;
    font-size:20px;
}

.login .form, .register .form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    width: 450px;
}

.register-check-to-receive{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    width: 24px;
    height: 24px;
}
.input-label{
    text-align: left;
    margin-top: 20px;
}
.input-label span{
line-height: 30px;}

.login-form-dividing{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
}
.login-form-dividing span{
    margin-top: 3px;
}
.login-form-dividing div{
    display: inline-block;
    margin: 0 20px;
    width: 150px;
    height: 1px;
    background-color: darkgray;
}
/*----*\
   AI
\*----*/
.ai{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo-ai-move{
    animation: flipflop 1s infinite;
}
@keyframes flipflop {
    0%{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    50%{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    51%{
        -webkit-transform: scaleX(-1);
        transform: scaleX(1);
    }
    100%{

        -webkit-transform: scaleX(-1);
        transform: scaleX(1);
    }
}

/*--------*\
   PROJECT
\*--------*/
#btn-project-add{
    margin-left:10px ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    font-size: 24px;
    background-color:#E4FF3F;
}
.project{
    display: flex;
}
.project-sidebar{
    width: 18%;
    float: left;
    background-color: #656D51;
    height: 100vw;
}
.project-main-to-add{
    margin-top: 3%;
    margin-left: 10px;
}

/*------------*\
   ADD PROJECT
\*------------*/
#addpr-submit-btn{
    position: fixed;
    right: 0;
    background-color:#E4FF3F;
    margin-right: 10px;
}
.addpr-welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 3%;
}
.addpr-welcome-txt{
    display: flex;
    align-items: center;
}
.addpr-form{
    display: flex;
    margin: 5px;
}
.addpr-card{
    margin-left: 30px;
    width: 700px;
    min-height: 400px;
    border: #333 solid 1px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);

}
.addpr-card h4{
    margin-top: 10px;
    font-weight: 600;
    text-decoration:underline;
}
.addpr-card p{
    color:#656D51;
    margin: 10px;
    padding: 10px;
    text-align: start;
    border: #333 dashed ;
}
.addpr-skill{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 50px;
    width: 300px;
    height: auto;
    background-color: #eee;
}
.addpr-skill span{
    color: red;
}

/*---------*\
   PROFILE
\*---------*/
.profile{
    display: flex;
}
.profile-left h4{
    margin: 20px;
    font-size: 64px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}
.profile-left-list{
    width: 370px;
    min-height: 600px;
    padding: 50px 20px;
    background-color: #F6F6F6;
}
.profile-left,
.profile-middle{
    margin: 10px;
}
.profile-middle-intro,
.profile-middle-pr-description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 450px;
    min-height: 250px;
    border: 1px dashed;
    font-weight: 300;
    font-size: 20px;
}
.profile-bg-gradient{
    background:#E4FF3F;
    background: radial-gradient(circle, #E4FF3F 0%, rgba(148,187,233,0) 45%);
}
@media screen and (max-width: 1000px){
    /*LANDING PAGE*/
    .landing-bg-txt{
        font-weight: 400;
        font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
        font-size: 120px;
    }
    .landing-identity{
        width: 800px;
        height: 350px;
    }
    .landing-identity img{
        width: 250px;
        height: 250px;
        margin-top: 0;
    }
    .landing-identity img:hover{
        width: 300px;
        height: 300px;
    }
    .search{
        display: none;
    }
    .logo{
        width:5rem;
    }
    .nav-logo{
        width: 240px;
        height: auto;
    }
}
@media screen and (max-width: 700px){
    /*LANDING PAGE*/
    .nav-logo{
        display: none;
    }
    .nav-logo-sm{
        display: inline-block;
        width: 50px;
        height: auto;
    }
    .nav-logo-btn{
        display: none;
    }
    .nav-btn{
        margin-right: 2rem;
    }
    .landing-main{
        margin-top: 50px;
    }
    .landing-bg-txt-1,
    .landing-bg-txt-2{
        font-size: 100px;
    }
    .landing-identity{
        width: 600px;
        height: 300px;
        margin-top: -10px;
    }
    .landing-identity img{
        margin: 0;
    }
}
@media screen and (max-width: 600px){
    /*LANDING PAGE*/
    .landing-bg-txt-1{
        font-size: 100px;
        top: 55px;
    }
    .landing-bg-txt-2{
        display: none;
    }
    .id-top-txt{
        top: -50px;
        left: 300px;
    }
    .id-txt h3{
        font-size: 20px;
    }
    .logo{
        width: 3rem;
    }
    .landing-main{
        margin-left: 0;
    }
    .landing-identity{
        width: 300px;
        height: 600px;
        flex-direction: column;
        background: linear-gradient(45deg, rgba(238,238,238,1) 10%, rgba(255,255,255,0) 60%);
    }
}
@media screen and (max-width: 500px){
    /*LANDING PAGE*/
    .landing-bg-txt-1{
        font-size: 80px;
        top: 58px;
    }
    .nav-display{
        display: none;
    }
    .nav-logo{
        display: inline-block;
        width: 200px;
    }
    .nav-logo-sm{
        display: none;
    }
    .header{
        padding: 2px;
    }
    .btn{
        width: 90px;
    }
    .btn-project{
        margin-right: 0;
    }

    /*REGISTER&LOGIN*/
    .inputbar-long{
        width: 300px;
    }
    .btn-long{
        width: 300px;
    }
    .login-form-dividing div{
        width: 120px;
    }

}