/*-Index-*\
---ALL
---HEADER
---LANDING PAGE
---LOGIN
---PROJECT
---ADD PROJECT
*/

/*---*\
  ALL
\*---*/
.scrollTest {
    background-color: #333;
}

body {
    text-align: center;
    margin: 0;
    height: 100vh;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}

textarea {
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #656D51;
}

* {
    box-sizing: border-box;
}

.dec-txt {
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
}

h4 {
    font-size: 36px;
    font-weight: 100;
    line-height: 1;
    margin: 0;
}

.mark-txt {
    font-size: small;
    line-height: 0px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: #333;
}

.logo-sm {
    width: 5rem;
    height: auto;
}

.logo-md {
    width: 8rem;
    height: auto;
}

.logo-lg {
    width: 10rem;
    height: auto;
}

.hide {
    display: none;
}

/* BUTTON */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.cursor-pointer {
    cursor: pointer;
}

.btn:hover,
.pr-lists:hover, .pr-recmd:hover {
    box-shadow: none;
    transform: translateY(1px);
}

.btn-long {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 24px;
    font-size: 22px;
    margin: 20px 0;
    transition: 0.5s;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.btn-long:active, .btn-long:hover {
    opacity: 80%;
    box-shadow: none;
}

#btn-sp-color {
    background-color: #E4FF3F;
}

#btn-sp-color:active {
    background-color: #cfed07;

}

button:disabled {
    opacity: 50%;
}

/* INPUT */
input:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.inputbar-long {
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

}

.HeartAnimation {
    padding-top: 2em;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    cursor: pointer;
}

.heart-animate {
    animation: heart-burst .5s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

.divide {
    width: 100%;
    height: 1px;
    background-color: #333;
}
.btn-pop-out{
    width: auto;
}


/* POP OUT WINDOW*/
.pop-out-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pop-out-msg-box {
    width: 50%;
    height: auto;
    padding: 30px 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px 1px rgb(160, 160, 160);
}
.pop-out-msg-box button{
    background-image: linear-gradient( 135deg, #FFF720 10%, #dafecb 100%);
}


/* Page Margin*/
.addproject,
.project,
.login,
.register,
.ai {
    margin-top: 80px;
    width: 100vw;
}

/*------*\
  HEADER
\*------*/
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    min-height: 80px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-logo {
    width: 330px;
    height: 66px;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 20px;
    top: 20%
}

.search-bar {
    background-color: #eee;
    font-size: 22px;

    width: 200px;
    height: 56px;
    border-radius: 28px;
    border: none;
    padding-left: 65px;
}

.header-left {
    display: inline-block;
}

.header-right {
    display: flex;
    align-content: center;
}

.header-right nav {
    display: inline-flex;
}

.header-right a {
    margin: 0 5px;
}

.menu {
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-dropdown {
    position: fixed;
    right: 0;
    max-width: 200px;
    min-width: 100px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}


.menu-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu-dropdown li {
    font-size: 22px;
    padding: 20px 40px;
}

.menu-dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.btn-login {
    background-color: #E4FF3F;
    color: #333;
    margin-right: 1rem;
}

/*Login Navbar*/
.nav-login {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-project {
    background-color: #DE5CFF;
    color: white;
    margin-right: 1rem;
    background-image: linear-gradient( 135deg, #e9b7f5 10%, #C346C2 100%);
}

.nav-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #333;
    text-decoration: underline;
    font-size: 22px;
}

.nav-btn:hover,
.nav-btn:active {
    color: #DE5CFF;
}

.nav-logo-btn {
    width: 32px;
    height: auto;
}

.nav-logo-sm {
    display: none;
}

/*--------*\ 
LANDING PAGE
\*--------*/
.landing-bg-txt {
    font-weight: 400;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    font-size: 170px;
}

.logo-shift {
    animation: shimmy 1.5s infinite;
    animation-direction: alternate;
}

.logo {
    position: fixed;
    width: 10rem;
    right: 0;
    bottom: 0;
    z-index: 10;
}

@keyframes shimmy {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 10px);
    }
}

.landing-bg-txt-1 {
    position: absolute;
    right: 0;
    top: 60px;
    color: #e4e4e4;
    text-shadow: rgb(244, 244, 244) 7px 0px;
    z-index: 2;
}



.landing-bg-txt-2 {
    position: absolute;
    left: -35px;
    top: 65px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #858585;
    text-shadow: rgb(198, 198, 198) 10px -1px;
    z-index: 1;
}

.landing-main {
    margin-top: 103px;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

.landing-identity {
    width: 900px;
    height: 300px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 240px;
    background: rgb(238, 238, 238);
    background: linear-gradient(0deg, rgba(238, 238, 238, 1) 1%, rgba(255, 255, 255, 0) 20%);
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.landing-identity img {
    margin: 10px 10px 0 10px;
    width: 300px;
    height: 300px;
    transition: 1s;
}

.landing-identity img:hover {
    width: 350px;
    height: 350px;
}

.id-container {
    margin-top: 100px;
}

.id-top-txt {
    margin: 1rem 0 10px 100px;
    margin-left: 100px;
}

.id-txt h3 {
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    word-spacing: 3px;
    font-size: 30px;
    line-height: 0;
    font-weight: 100;
    font-size: 1.2rem;
}

.main {
    background-color: whitesmoke;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 30px;
}

/*----------------*\
  LOGIN & REGISTER
\*----------------*/
.login, .register {
    width: 100vw;
    height: 100%;
    padding: 30px 0;
    background: #eee;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.login .form, .register .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    width: 450px;
}

.register-check-to-receive {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

.input-label {
    text-align: left;
    margin-top: 20px;
}

.input-label span {
    line-height: 30px;
}

.login-form-dividing {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
}

.login-form-dividing span {
    margin-top: 3px;
}

.login-form-dividing div {
    display: inline-block;
    margin: 0 20px;
    width: 150px;
    height: 1px;
    background-color: darkgray;
}



/*--------*\
   PROJECT
\*--------*/
.btn-project-add {
    margin-left: 10px;
    background-color: #E4FF3F;
    background-image: linear-gradient( 135deg, #FFF720 10%, #48ff00 100%);
}

.btn-project-category-opt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    min-height: 35px;
    margin: 15px;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
}

.scrollable {
    overflow-y: auto;
}

.project-sidebar.scrollable {
    height: 885px;
}

.pr-main-list.scrollable {
    height: 800px;
}

.project {
    display: flex;
    justify-content: center;
}

.project-sidebar {
    width: 18%;
    height: auto;
    position: fixed;
    background-color: #e2ff5e;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-main {
    width: 90%;
    text-align: end;
}

.project-main-to-add {
    margin: 0;
    padding: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.project-main-to-add h4 {
    font-weight: 500;
    text-align: start;
}

.pr-main-list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.project-main-grid, .project-recmd-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Project Lists*/
.pr-collapse-on-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pr-collapse-on-svg svg {
    transform: rotate(0deg);
}

.pr-cateory-tag {
    display: inline-flex;
    justify-content: center;
    padding: 2px 5px;
    margin: 10px;
    background-color: #fffdeb;
    color: #333;
}

.pr-card-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pr-lists {
    margin: 20px 10px;
    max-width: 500px;
    min-height: 180px;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    perspective: 1000px;
    background-color: transparent;
}

.pr-lists, .pr-recmd {
    cursor: pointer;
}
.pr-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    transition: transform 0s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pr-lists:hover .pr-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pr-card-front, .pr-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.pr-card-front {
    
    padding: 5px 10px;
    background-color: #A9C9FF;
    background-image: linear-gradient(240deg, #A9C9FF 0%, #FFBBEC 100%);
}

.pr-card-top {
    display: flex;
    flex-direction: column;
}

.pr-card-back {
    transform: rotateY(180deg);
    padding: 0px 10px;
    color: #333;
    font-size: 20px;
    background-color: #fff;
}

.pr-recmd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    max-width: 500px;
    height: 100px;
    border: none;
    border-radius: 800px;
    transition: 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
    color: white;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
}

.pr-recmd h4 {
    font-weight: 600;
    font-size: 30px;
}

.pr-title {
    font-size: 32px;
    font-weight: 400;
    text-align: start;
}

.pr-team {
    font-size: 2rem;
    font-weight: 600;
}

.pr-description {
    font-weight: 100;
    text-align: justify;
    line-height: 1.1;
}

/*------------*\
  YOUR PROJECT
\*------------*/
.yourProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-top: 10px;
    background-color: #efe9ff;
    background-image: linear-gradient(45deg, #efe9ff 4%, #ffffff 26%, #ffffff 63%, #ffffff 97%);
}

.basicDescription {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCard {
    position: relative;
    margin: 0px 20px;
    padding: 5px 10px;
    width: 700px;
    min-height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    background-color: #efe9ff;
    background-image: linear-gradient(45deg, #efe9ff 16%, #FFDEE9 26%, #ffffff 63%, #ffffff 97%);
}

.projectCard-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.profile-subscribe {
    display: flex;
    align-items: center;
}

.profile-subscribe span {
    margin-left: -20px;
}

.projectCard h4 b:hover {
    text-decoration: underline;
    width: 10px;
    height: auto;
    border-radius: 100px;
    background-color: #e0ff13;
}

.yourProjectName {
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}

.yourProjectDescription {
    color: #333;

    min-height: 150px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border: none;
}

.yourLocation {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 24px;
    margin: 5px;
}

.yourLocation .underline-controller {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.yourLocationItem {
    padding: 10px;
    min-width: 60px;
    height: 30px;
}

.yourTeamIntro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    min-width: 150px;
    height: auto;
}

.yourTeamIntro h4 {
    margin-top: 10px;
}

.yourTeamIntro a:hover {
    text-decoration: underline;
    background-color: #e0ff13;
    width: 10px;
    border-radius: 100px;
}

.yourTeamIntroDetail {
    margin-top: 20px;
    width: 100%;
    text-align: start;
    min-height: 150px;
    padding: 10px 20px;
}

.yourCategoryChoices {
    padding: 10px;
    margin-top: 20px;
}

.yourCategoryChoicesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yourCategoryChoices h4 {
    font-weight: 600;
}

.yourWantingSkills {
    margin-top: 50px;
    padding: 10px;
}

.yourWantingSkillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yourWantingSkillsTitle h4 {
    margin-left: 5px;
    font-weight: 600;
}

.yourWantingSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    min-height: 60px;
}

.yourContactInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 10px;
}

.btn-chatbox-sender {
    all: unset;
    cursor: pointer;
    position: relative;
}
.btn-chatbox-sender svg{
    position: absolute;
    top:10px;
}


/*------------*\
   ADD PROJECT
\*------------*/
.addpr-btn-list {
    margin: 30px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.addpr-btn {
    margin: 0px 10px 0 10px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border:none;
    color: #333;
    font-size: 24px;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e2ff5e;
    background-image: linear-gradient( 135deg, #FFF720 0%, #ddff47 100%);

}

.addpr-btn:hover {
    transform: translateY(1px);
    transition: 1s ease-out;
}

.addpr-prev-btn, .addpr-next-btn, .addpr-submit-btn {
    position: fixed;
    top: 90px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    background-color: #e2ff5e;
    margin: 10px;
}

.addpr-prev-btn:hover, .addpr-next-btn:hover {
    background-color: white;
}

.addpr-prev-btn {
    right: 120px;
}

.addpr-next-btn {
    right: 10px;
}


.addpr-form {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.addpr-form-contact {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

/* --Basic Description-- */

.addpr-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 3%;
}

.addpr-welcome-txt {
    display: flex;
    align-items: center;
}


.addpr-form.scrollable {
    height: 100vh -80px;
}

.addpr-card {
    justify-content: center;
    margin: 0px 20px;
    width: 700px;
    min-height: 400px;
    border: #333 solid 1px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);

}

.basicDescri-project-name {
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
    text-decoration: underline;
    border: none;
    border-radius: 50px;
}

.basicDescri-project-description {
    color: #656D51;
    min-height: 150px;
    width: 90%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    text-align: start;
    border: #333 dashed;
}

.addpr-card-left, .projectIntro {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* Location */
.basicDescri-location {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-size: 24px;
    color: #656D51;
}

.location-input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    min-height: 50px;
    border-radius: 300px;
    border: 0.5px solid;
}

.location-list {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
    min-height: auto;
    border: 0.5px solid;
    border-radius: 8px;
    z-index: 100;
    background-color: white;
}

.location-list-option {
    border-bottom: 0.5px solid;
}

.location-list-option:hover {
    background-color: #eee;
}

.dropdown-icon {
    position: absolute;
    right: 10px;
}

/*Selected items*/
.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    color: #333;
    gap: 5px;
}

.dropdown-tag-item {
    background-color: #e2ff5e;
    padding: 2px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.dropdown-tag-close {
    display: flex;
    align-items: center;
}

/* Introduction */
.addpr-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 70%;
    min-width: 150px;
    height: auto;
}

.addpr-intro h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.basicDescri-team-intro {
    border: dashed;
    width: 100%;
    min-height: 250px;
    padding: 10px;
}

/* --Budget Setting-- */
/* Switch button*/
.budgetSetting, .skillNeeded {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.budgetSettingCheck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-check-switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}

.btn-check-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.btn-check-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 10px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 30px;
}

.btn-check-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.btn-check-slider {
    background-color: #d2e747;
}

input:focus+.btn-check-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.btn-check-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* --Budget Setting Input-- */
.budgetSetting-budgetinput {
    width: 40%;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

}

/* --Category Choice-- */
.categoryChoice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

/* --Skills Needed-- */
.skillNeeded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillNeeded h4 {
    margin-bottom: 10%;
}

.skill-needed-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 0.5px solid;
}

.skill-needed-list-option {
    width: 120px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    border: solid 0.5px;
}

.skill-needed-list-option:hover {
    background-color: #e2ff5e;
}

/* -- Contact -- */
.addpr-contact-input {
    margin: 10px 0 10px 10px;
}

.addpr-form-contact-input {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.addpr-contact-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addpr-contact-mobile-txt {
    display: inline-block;
}

/* -- Category Choice -- */
/* Multi Selection Chips*/

.multi-selection-chips {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 20%;
}

.multi-chip {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    min-height: 45px;
    margin: 10px;
    padding: 5px 15px;
    font-size: 20px;
    border: 0.5px solid;
    border-radius: 50px;
}

.multi-chip:hover {
    background-color: #e2ff5e;
}

.multi-select-icon {
    margin: 0 10px 0 0;
}


@media screen and (max-width: 1000px) {

    /*LANDING PAGE*/
    .landing-bg-txt {
        font-weight: 400;
        font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
        font-size: 120px;
    }

    .landing-identity {
        width: 800px;
        height: 300px;
    }

    .landing-identity img {
        width: 250px;
        height: 250px;
        margin-top: 0;
    }

    .landing-identity img:hover {
        width: 300px;
        height: 300px;
    }

    .search {
        display: none;
    }

    .logo {
        width: 5rem;
    }

    .nav-logo {
        width: 240px;
        height: auto;
    }

    /* ADD PROJECT */
    .addpr-form {
        flex-direction: column;
    }

    .addpr-card {
        margin: 50px 0px;
    }

    .addpr-card-left {
        width: 100%;
    }

    /*PROJECT*/
    .project-main-grid {
        grid-template-columns: 1fr 1fr;
    }

    .project-recmd-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pr-recmd {
        height: 80px;
    }

    .pr-recmd h4 {
        font-size: 24px;
    }

    /*YOUR PROJECT*/
    .yourProject{
        padding-top: 50px;
    }
    .basicDescription {
        flex-direction: column;
    }

    .projectCard {
        width: 580px;
    }

    .projectIntro {
        margin: 30px 0;
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .header {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .project-main-to-add {
        margin: 0px 0 0 0;
        padding: 15px 0 5px 0;
    }

    .pr-main-list {
        margin-top: 70px;
    }
}

@media screen and (max-width: 700px) {
    .addproject, .project, .login, .register, .ai {
        margin-top: 100px;
    }

    .btn {
        height: 40px;
    }

    /*LANDING PAGE*/
    .header {
        height: auto;
        flex-direction: column;
    }

    .header-right {
        width: 100%;
        justify-content: space-around;
    }

    .nav-logo-sm {
        display: inline-block;
        width: 50px;
        height: auto;
    }

    .nav-logo-btn {
        display: none;
    }

    .nav-btn {
        margin-right: 2rem;
    }

    .landing-main {
        margin-top: 50px;
    }

    .landing-bg-txt-1,
    .landing-bg-txt-2 {
        font-size: 100px;
        top: 85px;
    }

    .id-container {
        margin-top: 130px;
    }

    .landing-identity {
        width: 600px;
        height: 300px;
        margin-top: -10px;
    }

    .landing-identity img {
        margin: 0;
    }

    /*PROJECT*/
    .project-main-grid {
        grid-template-columns: 1fr 1fr;
    }

    .project-main-to-add h4 {
        font-size: 1rem;
    }


    /*ADD PROJECT*/
    .budgetSettingCheck {
        flex-direction: column;
        margin: 10px 30px;
    }

    .addpr-card {
        width: 500px;
    }

    /*YOUR PROJECT*/
    .projectCard {
        width: 450px;
    }

    .yourTeamIntro {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {

    /*LANDING PAGE*/
    .landing-bg-txt-1 {
        font-size: 100px;
        top: 85px;
    }

    .landing-bg-txt-2 {
        display: none;
    }

    .id-top-txt {
        top: -50px;
        left: 300px;
    }

    .id-txt h3 {
        font-size: 20px;
    }

    .logo {
        width: 3rem;
    }

    .landing-main {
        margin-left: 0;
    }

    .landing-identity {
        width: 300px;
        height: 600px;
        flex-direction: column;
        background: linear-gradient(45deg, rgba(238, 238, 238, 1) 10%, rgba(255, 255, 255, 0) 60%);
    }

    /* ADD PROJECT */
    .addpr-card {
        width: 300px;
        margin: 30px 0;
    }

    .basicDescri-project-name {
        font-size: 20px;
    }

    /*PROJECT*/
    .project-main-grid {
        grid-template-columns: 1fr;
    }

    .project-main-to-add-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    .project-recmd-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pr-recmd {
        height: 60px;
        margin: 20px 3px 0 3px;
    }

    .pr-recmd h4 {
        font-size: 18px;
        font-weight: 500;
    }

    /* YOUR PROJECT */
    .yourWantingSkills {
        margin: 0px 10px 20px 10px;
    }
}

@media screen and (max-width: 500px) {

    /*LANDING PAGE*/
    .landing-bg-txt-1 {
        font-size: 80px;
        top: 85px;
    }




    .nav-logo {
        display: inline-block;
        width: 200px;
    }

    .nav-logo-sm {
        display: none;
    }

    .header {
        padding: 2px 2px 10px 2px;
        
    }

    .btn {
        width: 90px;
    }

    .btn-project {
        margin-right: 0;
    }

    /*REGISTER&LOGIN*/
    .inputbar-long {
        width: 300px;
    }

    .btn-long {
        width: 300px;
    }

    .login-form-dividing div {
        width: 120px;
    }

    /* PROJECT */
    .project-main-to-add {
        width: 95%;
    }

    /*YOUR PROJECT*/
    .projectCard {
        width: 90%;
    }
    .yourProject{
        background-image: none;
        background-color: white;
    }

    .yourTeamIntro {
        width: 80%;
    }

    /* POP OUT WINDOW */
    .pop-out-msg-box {
        width: 80%;
    }
}

@media screen and (max-width: 350px) {

    /*LANDING PAGE*/
    .nav-logo {
        width: 180px;
    }

    .btn {
        width: 70px;
        font-size: 22px;
        margin-right: 0;
    }
}