/*-Index-*\
---ALL
---HEADER
---LANDING PAGE
---LOGIN

*/

/*---*\
  ALL
\*---*/

body{
    text-align: center;
    margin: 0;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}
*{
    box-sizing: border-box;
}
.dec-txt{
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
}
h4{
    font-size: 36px;
    font-weight: 100;
    line-height: 1;
}
.mark-txt{
    font-size: small;
    line-height: 0px;
}
a{
    text-decoration: none;
}

/* BUTTON */
.btn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #656D51;
    font-size: 24px;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover{
    box-shadow:none;
    transform: translateY(2px);
}

.btn-long{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 24px;
    font-size: 22px;
    margin: 20px 0;
    transition: 0.5s;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.btn-long:active, .btn-long:hover{
    opacity: 80%;
    box-shadow: none;
}
#btn-sp-color{
    background-color: #E4FF3F;
}
#btn-sp-color:active{
    background-color: #cfed07;

}
/* INPUT */
input:focus{
    outline:none;
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.1);
}
.inputbar-long{
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    font-size:20px;
    box-shadow:0px 1px 5px rgba(0, 0, 0, 0.1);

}


/*------*\
  HEADER
\*------*/
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: mixed;
    top: 0;
}

.nav-logo{
    width: 330px;
    height: 66px;
}
.search{
    position: relative;
}
.search img{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 20px;
    top:20%
}
.search-bar{
    background-color: #eee;
    font-size: 22px;
    
    width: 255px;
    height: 56px;
    border-radius: 28px;
    border: none;
    padding-left: 65px;
}
.header-right{
    display: flex;
    align-content: center;
}
.header-right nav{
    display: inline-flex;
}
.menu {
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.btn-login{
    background-color: #E4FF3F;
    margin-right:1rem;
}
/*Login Navbar*/
.nav-login{
    display: flex;
    align-items: center;
}
.btn-project{
    background-color: #DE5CFF;
    color: white;
    margin-right:1rem;
}

.nav-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
    color: #333;
    text-decoration:underline;
    font-size: 22px;
}
.nav-btn:hover,
.nav-btn:active{
    color: #DE5CFF;
}
.nav-logo-sm{
    width: 32px;
    height: auto;
}
/*--------*\ 
LANDING PAGE
\*--------*/
.landing-bg-txt{
    font-weight: 400;
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    font-size: 170px;
}

.logo{
    position: absolute;
    width:10rem;
    height: auto;
    right: 0;
    bottom: 0;
}
.landing-bg-txt-1{
    position: absolute;
    right: 0;
    top: 40px;
    z-index: -1;
}
.landing-bg-txt-2{
    position: absolute;
    left: -35px;
    top: 65px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: -1;
}
.landing-main{
    margin-top: 103px;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}
.landing-identity{
    width: 900px;
    height: 400px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 240px;
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 1%, rgba(255,255,255,0) 20%);
    overflow: hidden;
}

.landing-identity img{
    margin: 100px 10px 0 10px;
    width: 300px;
    height: 300px;
    transition: 0.6s;
}
.landing-identity img:hover{
    width: 350px;
    height: 350px;
}
.id-container{
    position: relative;
}
.id-top-txt{
    position: absolute;
    left: 450px;
}
.id-txt h3{
    font-family: 'Homenaje', 'Noto Sans TC', sans-serif;
    word-spacing: 3px;
    font-size: 30px;
    line-height: 0;
    font-weight: 100;
}

.main{
    background-color: whitesmoke;
    height: 300px;
    line-height:300px;
    text-align: center;
    font-size: 30px;
}
/*----------------*\
  LOGIN & REGISTER
\*----------------*/
.login, .register{
    width: 100vw;
    height: auto;
    padding: 30px 0;
    background: #eee;
    display: flex;
    justify-content: center;
    font-size:20px;
}

.login .form, .register .form{
    margin-top: 10px;
    width: 450px;
}


.input-label{
    text-align: left;
    margin-top: 20px;
}
.input-label span{
line-height: 30px;}

.login-form-dividing{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
}
.login-form-dividing span{
    margin-top: 3px;
}
.login-form-dividing div{
    display: inline-block;
    margin: 0 20px;
    width: 150px;
    height: 1px;
    background-color: darkgray;
}
